.match-schedule {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
}

.match-info-sche {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.date-time, .stadium {
  font-size: 14px;
  color: #666;
  font-weight: bold;
}

.teams-schedule {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Thêm dòng này */
  margin-bottom: 16px;
}

.team-schedule1 {
  text-align: right;
}
.team-schedule1, .team-schedule2 {
  display: flex;
  align-items: center;
  justify-content: center; /* Thêm dòng này */
}

.team-logo-schedule1 {
  order: 2; /* Đặt logo ở phía sau */
  width: 40px;
  height: 40px;
  margin-left: 8px; /* Để cách logo và tên đội */
}

.team-logo-schedule2 {
  width: 40px;
  height: 40px;
  margin-right: 8px; /* Để cách logo và tên đội */
}

.home-team, .away-team {
  font-weight: bold;
  order: 1; /* Đặt tên đội ở phía trước */
  width: 200px;
}

.score-schedule {
  display: flex;
  align-items: center; /* Thêm dòng này */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 50px; /* Đảm bảo độ rộng cố định để căn giữa */
}

.attendance {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.titlesche{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: bold;

}
.turn-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #C9C9C9;
  font-weight: bold;
}

.turn-button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.turn-button.selected {
  background-color: #ff3333;
  color: white;
}
.season-selection {
  margin-bottom: 20px;
  text-align: right; /* Align to the right */
  margin-right: 40px;
}

#season-select {
  padding: 5px;
  font-size: 16px;
}
