.SecondNews-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .SecondNews-title {
    margin-top: 20px;
    text-align: left;
  }
  .SecondNews-title h1 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .SecondNews-title h2 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .SecondNews-title h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .SecondNews-title img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  .SecondNews-title p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
  }
  
  .SecondNews-title span {
    display: block;
    margin-bottom: 20px;
  }
  